<h1>Urls<h1>

<% @shortenedurls.each do |shortened_url| %>
    <p>
    <%= link_to shortened_url.random_id, shortened_url_path(:id => shortened_url.random_id) %> => <%= shortened_url.original %>
  </p>
  <% end %>

  <%= link_to "Shorten Url" , new_shortened_url_path%>

  <p> visit https://drewsurlshortener.herokuapp.com/shortened_urls/(random_id) <p>
